* {
    padding: 0;
    margin: 0;
    font-size: 16;
}

$primary-color: blue;
$accent-color: white;
$smoky-black: #0A0903;
$red: #ff0000;
$dogwood-rose: #d90368;
$orange: #ff8200;
$amber: #ffc100;
$byzantium: #820263;
